@import '../../../assets/variables';

.nav {
    display: flex;
    align-items: center;
    background: $black;
    color: $pure-white;
    height: 72px;
    padding: 0 2rem;
    width: calc(100% - 4rem);
    .headerName {
        color: $red-pink;
        font-family: $main, sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 6px;
        cursor: pointer;
    }
}