@import '../../../../assets/variables';

.home {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    width: calc(100% - 4rem);
    line-height: 1.5rem;
    background: $white;
    .categories {
        flex: 1;
        color: $black;
        margin-right: 1.25rem;
        font-family: $main, sans-serif;
        font-size: 1rem;
        font-weight: 600;
        .title {
            color: $red-pink;
        }
        .categoryName {
            transition: all .17s;
            &:hover {
                color: $red-pink;
                border-bottom: 2px solid $red-pink;
            }
        }
    }
    .products {
        flex: 4;
        display: flex;
        flex-wrap: wrap;
        font-weight: 600;
        .productContainer {
            width: 220px;
            height: 336px;
            background: $pure-white;
            box-shadow: $shadow;
            transition: all .17s;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 1.25rem 1.25rem 0;
            &:hover {
                box-shadow: $shadow-hover;
                margin-top: -.5rem;
            }
            .name {

            }
            .price {
                color: $red-pink;
            }
        }
    }
}