<div class="home">
  <div class="categories">
    <div class="title">Categories</div>
    <div *ngFor="let category of categories" class="categoryName">
      {{category.name}}
    </div>
  </div>
  <div class="products">
    <div *ngFor="let product of products">
      <div class="productContainer">
        <img [src]="imagesUrl + product.thumbnail" alt="{{product.name}}" />
        <div class="name">{{product.name}}</div>
        <div class="price">{{product.price}}</div>
      </div>
    </div>
  </div>
</div>