body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
}

button {
    border: none;
    padding: 0;
    background: transparent;
    &:focus { outline: none }
}